@media (max-width: 1199px) {
  html {
    font-size: 11px;
  }

}

@media (max-width: 991px) {
  html  {
    font-size: 9px;
  }
  .visible-lg {
    display: none;
  }
  .m-menu-link {
    display: block;
  }
  .table__row {
    flex-direction: column;
  }
  .table__column {
    width: 90%;
    /*margin-bottom: 20%;*/
    margin:2rem auto;
  }
  .footer__menu {
    display: none;
  }
  .footer {
    justify-content: center;
  }
  .social-links {
    margin-top: 3rem;
    font-size: 3rem;
    padding-bottom: 5rem;
  }
  .copy p{
    font-size: 1.5rem;
  }
  .legal {
    display: flex;
    flex-direction: column;
  }
  .call-to-action {
    padding: 10rem;
  }
  .main__subtitle{
    font-size: 1.4rem;
  }
  .main__text {
    font-size: 1.4rem;
  }
  .table__subtext {
    font-size: 1.4  rem;
  }

}

@media (max-width: 767px) {
  .wrapper {
    width: 180vw;
    /*max-width: 100%;*/
    margin: 0 auto;
  }
  .main__title {
    font-size:1.8rem;
  }
  .footer__menu {
    display: none;
  }
  .footer {
    justify-content: center;
  }

}