html,
body {
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	color: $default;
	overflow-x: hidden;
	min-width: 320px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid{
	max-width: 1920px;
	padding: 0 10px;
	margin: 0 auto;
}

.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	li{
		margin: 0 15px;
	}
	button{
		background-color: $title;
		border: none;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
	}
	li.slick-active{
		button{
			transition: all 0.3s ease;
			background: #FFEF35;
			
		}
	}
}

.info-email{
	font-weight: 600;
	font-size: 14px;
	color: $title;
	margin-bottom: 22px;
	padding-left: 30px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	&::before{
		content: '';
		background-image: url(../images/mail.svg);
		left: 0;
		top: 9px;
		width: 16px;
		height: 12px;
		position: absolute;
	}
}

.form-btn{
	background-color: #363838;
    border: none;
    color: #FFFFF0;
    border-radius: 21px;
    font-weight: 600;
    padding: 6px 12px;
    min-width: 160px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;

}

