@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}


.logo {
    margin: 0 auto;
}

.menu {
    padding-right: 15px;

    &__list{
        display: flex;
    }
    &__list-item{
        padding-right: 45px;
        padding-left: 35px;
    }
    &__list-link{
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9);
        line-height: 22px;
    }
    &__list-link--active{
        padding-bottom: 4px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            border-radius: 1px;
            background-color: rgba($title, .7);
        }
    }
}




.footer {

    &__content{
        background: #DFDFDF;
        padding: 60px 0 80px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        width: 540px;
    }
    &__info-title{
        color: $title;
        @extend %title-font;
        margin-bottom: 14px;
        line-height: 23px;
    }
    &__info-text{
        margin-bottom: 16px;
        max-width: 475px;
        font-family: 'Open Sans', sans-serif;
        color: $default;
    }
    &__info-email{
        font-weight: 600;
        font-size: 14px;
        color: $title;
        margin-bottom: 22px;
        padding-left: 30px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        position: relative;
        &::before{
            content: '';
            background-image: url(../images/mail.svg);
            left: 0;
            top: 6px;
            width: 16px;
            height: 12px;
            position: absolute;
        }
    }
    &__form{
        display: flex;
    }
    &__form-input{
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba($title, 0.7);
        width: 100%;
        &::placeholder{
	        font-family: 'Open Sans', sans-serif;
	        font-weight: 400;
            font-size: 14px;
            line-height: 27px;
            color: #A1A1A1;
            
        }
    }
    &__form-btn{
        background-color: $title;
        border: none;
        color: #FFFFF0;
        border-radius: 21px;
        font-weight: 600;
        padding: 6px 12px;
        min-width: 160px;
        margin-left: 9px;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
    }
    &__social{
        z-index: 1;
        width: 125px;
        margin-right: auto;
        margin-left: 100px;
    }
    &__social-link{
        padding-left: 28px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }
    &__social-link--facebook::before{
        content: '';
        background-image: url(../images/facebook.svg);   
        background-repeat: no-repeat;
        top: 2px;
        left: 0;

    }
    &__social-link--instagram::before{
        content: '';
        background-image: url(../images/instagram.svg);
        background-repeat: no-repeat;
        top: 4px;
        left: 0;
    }
    &__social-link--pinterest::before{
        content: '';
        background-image: url(../images/Pinterest.svg);
        background-repeat: no-repeat;
        
    }
    &__social-link--whatsapp::before{
        content: '';
        background-image: url(../images/whatsapp.svg);
        background-repeat: no-repeat;
        
    }
    &__social-link--youtube::before{
        content: '';
        background-image: url(../images/youtube.svg);        
        background-repeat: no-repeat;
        width: 18px;
        
    }

    &__social-item,
    &__menu-item{
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        font-family: 'Open Sans', sans-serif;
    }
    &__social-link,
    &__menu-link{
        color: #707070;
    }
    &__menu{
        width: 125px;
        margin-right: 60px;

    }
    


    &__copyright{
       background-color: $title;
       color: #A1A1A1;
       text-align: center;
       padding: 42px 0 41px;
    }
}

.rightside-menu{
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 694px;
    background:#fff;
    padding-top:40px;
    box-shadow: -2px 3px 17px 0px #000;
    transition: all 0.5s ease;
    // Комбинация &.rightside-menu--close значит выполнять только когда эти 2 класса вместе
    &.rightside-menu--close{
        display: none;
        transform: translateX(500%);
        transition: all 0.5s ease;
    }
    &__close{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-left: 50px;
        margin-bottom: 60px;
    }
    &__content{
        max-width: 485px;
        margin: 0 auto;
        text-align: center;
    }
    &__logo{
        margin-bottom: 40px;
        display: inline-block;
    }
    &__title{
        @extend %title-font;
        font-size: 36px;
        color: $title;
        margin-bottom: 35px;
        line-height: 51px;
        position: relative;
        padding-bottom: 21px;
        &::after{
            height: 1px;
            content: '';
            position: absolute;
            bottom: 0;
            max-width: 252px;
            margin: 0 auto;
            left: 0;
            right: 0;
            background: #6D7278;
        }
    }
    &__text{
        margin-bottom: 75px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 27px;
        color:#A5A5A5;
    }
    &__img{
        max-width: 485px;
    }
}



.breadcrumbs{
    background-color: rgba(#DFDFDF , .5);
    padding: 13px 14px;
    &__list{
        display: flex;
    }
    &__item::after{
        content: '/';
        margin-left: -4px;
        margin-right: 4px;
    }
    &__item:last-child::after{
        display: none;
    }
    &__link{
        font-size: 14px;
        line-height: 28px;
        color: $default;
    }
}




.top{

    &__inner{
        padding-bottom: 70px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            background-image: url(../images/slider-bg.jpg);
            width: 100%;
            height: 722px;
            top: 0;
            z-index: -1;
            background-position: center center;
            // background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &__slider-item{
        display: flex !important;
        justify-content: center;
        align-items: center;

    }
    &__slider-img{
        // margin-left: -15%;
        max-width: 703px;
        height: 815px;
        object-fit: cover;
    }
    &__slider-info{
        max-width: 645px;
        margin-left: 25px;
    }
    &__slider-title{
        color: $title;
        font-size: 110px;
        line-height: 135px;
        padding-bottom: 26px;
        margin-bottom: 26px;
        position: relative;
        @extend %title-font;

        &::after{
            content: '';
            position: absolute;
            width: 185px;
            height: 1px;
            left: 0;
            bottom: 0;
            background: #6D7278;
        }
    }
    &__slider-text{
        max-width: 585px;
    }
    

}


.new-collection{
    text-align: center;
    padding: 45px 0 105px;
    
    &__title{
        
        font-weight: 700;
        position: relative;
        color: $title;
        font-size: 36px;
        line-height: 51px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        @extend %title-font;

        &::after{
            content: '';
            position: absolute;
            background-color: #6D7278;
            width: 252px;
            height: 1px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;

            
        }
    }
    &__text{
        max-width: 735px;
        margin: 0 auto 30px ;
    }
}

.collection{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    // grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: 1fr;

    
    &__item{
        position: relative;
        
        &:hover{
            .collection__info{
                opacity: 1;
            }
        }
    }
    &__images{
        // min-height: 350px;
        object-fit: cover;
    }
    &__info{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, 0.7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: all 0.5s ease;

    }
    &__info-title{
        font-size: 20px;
        line-height: 25px;
        color: $title;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;
        @extend %title-font;

        &::after{
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 1px;
            width: 65%;
            background: #6D7278;
        }
    }
    &__info-text{
        font-size: 14px;
        line-height: 28px;
        font-weight: 600;
        color: #707070;
    }
}

.decor{
    background-image: url(../images/decor-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 170px 0 155px 0;
        // min-height: 600px;
    &__info{
        max-width: 540px;

    }
    &__title{
        position: relative;
        font-size: 60px;
        line-height: 80px;
        font-weight: bold;
        color: $title;

        padding: 0 0 22px 0;
        margin: 0 0 22px 0;
        @extend %title-font;

        &::after{
            position: absolute;
            content: '';
            height: 1px;
            width: 200px;
            left: 0;
            bottom: 0;
            background-color: #6D7278;
        }
    }
    &__text{

    }
}

.works-path{
    padding: 80px 0 30px;

    &__title{
        text-align: center;
        color: $title;
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 51px;
        @extend %title-font;
    }
    &__items-box{
        display: flex;
        border-bottom: 2px solid rgba($title, .7);
        position: relative;
        align-items: flex-end;
        &::before{
            position: absolute;
            content: '';
            left: 0;
            bottom: -6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #333;

        }
    }
    &__item{
        display: flex;
        width: 250px;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        height: 100%;
    }
    &__item--production{
        margin-left: 317px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background-color: rgba($title, .7);
        }
    }
    &__item--measuring{
        padding-top: 38px;
        margin-left: 305px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background-color: rgba($title, .7);
        }
    }
    &__item--production,
    &__item--consultation{
        padding-bottom: 38px;
    }
    &__item-title{
        margin-left: 17px;
        color: $title;
        @extend %title-font;
    }
    &__item-text{
        margin-top: 13px;
    }
}

.gallery{
    padding: 80px 0 90px;

    &__buttons{
        text-align: center;
        margin-bottom: 40px;
    }
    &__btn{
        margin: 0 13px;
        background-color: transparent;
        border: 1px solid #454647;
        border-radius: 20px;
        font-size: 14px;
        // line-height: 28px;
        color: #8F8D8D;
        padding: 6px 16px;
        font-weight: 600;
        cursor: pointer;
        
    }
    // &__inner{
        
    // }
    &__items{
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        
    }
    &__item{
        display: grid;
        position: relative;
        padding: 30px 0 85% 0;
        img{
            display: grid;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // &__item--big{
    //     grid-column: span 2;
    //     grid-row: span 2;
    // }



.mixitup-control-active{
    background-color: #FFEF35;
    color: $title;
    border: 1px solid #FFEF35;
    transition: all 0.4s ease-in;

}

// &__items{
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     grid-gap: 30px 35px;
// }
&__item:first-child{
    grid-column: span 2;
    grid-row: span 2;
}
// &__item-img{
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//     max-height: 1150px;
// }


}


.blog-box{
    
    &__title{
        @extend %title-font;
        color: $title;
        font-size: 36px;
        line-height: 51px;
        max-width: 430px;
        margin: 0 auto 30px;
        text-align: center;
    }
    &__items{
        display: grid;
        // grid-template: 1fr / repeat(auto-fit, minmax(450px, 1fr)) ;
        grid-template-columns: repeat(auto-fit, minmax(auto, 540px));
        // grid-template-columns: 1fr 1fr;
        column-gap: 30px ;
        justify-content: center;
        margin-bottom: 100px;
        align-items: flex-start;
    }
    &__item{
        display: grid;
        position: relative;
        grid-template: 1fr / 1fr;
        margin-bottom: 30px;
          
    }
    &__links{
        margin: 30px 0 0 0;
        
        // display: grid;
        // grid-auto-rows: minmax();
    }
   
    &__links{
        color: #707070;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
    }
    &__author{
        color: inherit;
    }
    &__theme{
        color: inherit;
    }
    &__item-titlelink{
        font-weight: bold;
        @extend %title-font;
        color: $title;
        padding-top: 8px;
    }

}


.about{

    &__prev{
        background-image: url(../images/about-bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding: 160px 0;
        margin-top: -53px;
        
    }
    &__prev-title{
        margin: 0px auto;
        text-align: center;
        @extend %title-font;
        font-size: 60px;
        line-height: 80px;
        color: $title;
    }
    &__content{
        padding: 130px 0 40px;
        // max-width: 1100px;
        // margin: 0px auto;
    }
    &__title{
        
        @extend %title-font;
        color: $title;
        font-size: 36px;
        line-height: 60px;
        position: relative;
        padding-bottom: 22px;
        margin-bottom: 22px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #6D7278;
            height: 1px;
            width: 200px;
            
        }
    }
    &__text {
        padding-left: 285px;

        p{
            margin-bottom: 30px;
        }
    }
    &__popup{
        background-image: url(../images/popup-bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        min-height: 414px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.inspiration{
padding-top: 100px;
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__images{
        margin-right: 78px;
        margin-left: -230px;
    }
    &__title{
        @extend %title-font;
        color: $title;
        font-size: 36px;
        line-height: 60px;
        position: relative;
        padding-bottom: 16px;
        margin-bottom: 24px;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background: #6D7278;
            height: 2px;
            width: 200px;

        }
    }
    &__text{
        margin-bottom: 30px;
    }
    &__content{
        max-width: 825px;
        
        
    }
    &__item-content{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        font-weight: 700;
        line-height: 23px;
        color: $title;
        margin-bottom: 33px;
    }
}