@media (max-width: 1199px) {
  html {
    font-size: 11px;
  }

}

@media (max-width: 991px) {
  html  {
    font-size: 9px;
  }
  .visible-lg {
    display: none;
  }
  .m-menu-link {
    display: block;
  }
  .table__row {
    flex-direction: column;
  }
  .table__column {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 180vw;
    /*max-width: 100%;*/
    margin: 0 auto;
  }
  .main__title {
    font-size:1.8rem;
  }

}