
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');


* ,*before,*:after {
box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}
html {
  /*font-size:10px;*/
}
.main {
  height: 100vh;
  min-height: 600px;
  /*background-image: url(../Img/Bg.jpg);*/
  background-image: url(../Img/1588266693164585216.jpg);
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header{
  width: 90%;
  /*display: flex;*/

}
.header__menu {
  padding: 0;
  margin: 0;
 /* position: relative;
  right:40px;*/
}
.header__overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  opacity: 0.8;
  background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  position: absolute;
  z-index: 0;
}
.header__body {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo_text {
color: #ffffff;
font-family: 'Maven Pro', sans-serif;
font-size: 30px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 29px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 7px;
line-height: normal;
padding:0 0 0 17px;
}
.container {
z-index: 2;
position: relative;
}
li {
  list-style-type: none;
}

.header__menu ul{
  display: flex;
  justify-content: space-around;
}
.header__menu ul a {
  color: #fff;
  text-decoration: none;
  align-self: center;
}
.header__menu ul a:hover{
 text-shadow: 5px 2px 2px #6e45e2;
}
.header__menu ul a:hover:last-child{
 background: rgba(204,204, 223, 0.5);
 border:1px solid rgba(204,204, 223, 0.5);
 text-shadow: 0px 0px 0px #6e45e2;
 /*color:#9fa4af;*/
}
.header__menu {
  width: 70%;
}
.header__btn {
  margin-left: 25px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 10px 20px;
  text-shadow: 0 0 0 ;
}
.main-text {
  position: relative;
  z-index: 1;
  text-align: center;
}
.main__subtitle {
  display: inline-block;
}
.main__title {
  font-size: 4rem;
}
.main__subtitle::after {
content: '';
width: 20px;
height: 1px;
background-color: #fff;
display: inline-block;
vertical-align: middle;
margin-left: 10px;
}
.main__subtitle::before {
content: '';
width: 20px;
height: 1px;
background-color: #fff;
display: inline-block;
vertical-align: middle;
margin-right: 10px;
}
.main__title h1 {
  margin: 0.5rem;
}
.main__body {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.main-arrow {
  height: 15vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
.arrow__body {
  align-items: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  /*background: #fff;*/
  border-radius: 100px;
  
  box-shadow: 0px 0px 18.69px 2.31px rgba(204,204, 223, 0.5);

}
.arrow__body img {
  max-width: 60px;
  max-height: 60px;
  align-self: center;
  justify-content: center;
  /*border:1px solid #fff;*/
  /*border-radius: 40px;*/
 padding: 10px 10px;
 line-height: 50px;
}

.arrow__body:hover{
 border:rgba(204,204, 223, 0.5);
 border-radius: 100px;
 opacity: 0.8;
 background: rgba(204,204, 223, 0.5);
}
.table__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.table {
  /*height: 100vh;*/
  /*min-height: 600px;*/
  background: #f9fafc;
  padding: 10rem;
}
.table__header {
  text-align: center;
  margin-bottom: 4rem;
}
.table__row {
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.table__column {
  background: #fff;
  /*border:1px solid rgba(204, 204, 223, 0.71);*/
  border-radius: 2rem;
  height: 58vh;
  width: 300px;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5;
  }
.table__column:hover {
  cursor: pointer;
  box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
}

.table__subtitle {
color: #9fa4af;
font-family: "Maven Pro";
font-size: 1.4rem;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 32px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: 0.7px;
line-height: normal;
}
.table__subtext {
  color: #9fa4af;
font-family: "Maven Pro";
font-weight:500;
}
.table__subtitle::after {
  content: '';
width: 20px;
height: 1px;
background-color: #6e45e2;
display: inline-block;
vertical-align: middle;
margin-left: 10px;
}
.table__subtitle::before {
  content: '';
width: 20px;
height: 1px;
background-color: #6e45e2;
display: inline-block;
vertical-align: middle;
margin-right: 10px;
}
.table__title h2{
color: #4f4f6f;
font-family: "Maven Pro";
font-size:60px;
margin:0;

}
.table__price h4{
font-size:1.8em;
margin: 1rem;
font-family: "Maven Pro";
color:#4f4f6f;
}
  .table__price h4 sub{
  font-size: 1.4rem;
}
.table__text p {
 font-size:15px;
 display:inline-block;
 width:100%;
 line-height:1.4;
 color: #9fa4af;

}
.table__price {

}
.table__text span{
 /*font-size:1.4rem;*/
 text-transform: uppercase;
 }
.table__text {
  height: 33%;
}
.table__image img {
  width: 9rem;
}
.table__name {
  color:#b81b6c;
  font-weight:800;
  font-size:1.5em;
  font-family: "Maven Pro";
}


.t__btn button{
  color:#9fa4af;
  border:1px solid #9fa4af;
  background-color: #fff;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight:300;
  padding: 1rem 3.2rem;
  /*margin: 1rem;*/
  transition-duration:  0.2s;
  transition-property: background-color,color,padding;
  transition-timing-function: linear;
}
.t__btn button:hover{
  background-color: #6a45e2;
  color:#fff;
  padding: 1rem 3.3rem;
}
.call-to-action {
  background-image: url(../Img/BG.png);
  background-size: cover;
  text-align: center;
  padding: 15rem;
  color: #fff;
}
.call-to-action span{
 font-size: 1.2rem;
 font-weight: 500;
text-transform: uppercase;
}
.call-to-action h4 {
  font-weight: 500;
  font-size: 3.5rem;
  margin: 1rem auto 2rem;
}
.cta__button_body {
  display: flex;
  justify-content: center;
}
.cta__button button{
  border:none;
  background-color: #fff;
  color :#c2c9db;
  border-radius: 100px;
  width: 15rem;
  height: 4rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight:700;
  margin:1rem;
  transition: 0.2s;
}
.cta__button button:hover {
  background-color: #6e45e2;
  color:#fff;
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}

.footer__wrap {
  display:flex;
  justify-content: center;
  align-items:center;
}
.footer {
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
}
.footer__menu {
  width: 50%;
  color:#6a6a77;
}
.footer__menu a{
 font-size:1rem;
 color :#4f4f6f;
 font-weight: 500;
}
.footer__logo {
  display: flex;
}
.hlt {
  color:#4f4f6f;
  align-self: center;
}
.fml__btn {
  margin-left: 3.5rem;
  border:1px solid #fff;
  background-color: #6e45e2;
  padding: 10px 20px;
  border-radius: 100px;
  text-transform:uppercase;
  align-self: center;
  color:#fff;
}
.footer__menu_link li{
 font-weight: 600;
 color: #6a6a77;

}
.fml__btn li {
    color:#fff;

}

.line {
  display: block;
  width: 90%;
  height: 1px;
  background-color: #6a6a77;
  margin: 1rem auto;
}

.legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy {
  color: #6a6a77;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.9em;
  font-weight: 500;

}
.social-links a {
color:#6a6a77;
display: inline-block;
margin-right: 0.8rem;
}
.social-links {
  margin-right: 4%;
}
.m-menu-link {
  display: none;
  color:#fff;
  font-size: 3rem;
}
.m-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size:3rem;
  line-height: 6.3rem;
  background-color: #6e45e2;
  margin: 0;
  padding: 0;
  z-index: 9999;
  transform: translateX(100%);
  transition: 0.2s;
}
.m-menu__active{
  transform: translateX(0%);
}

.header__btn {
  margin: 0;
  padding: 1% 2%;
  line-height: 1;
}
.header__btn li{
  margin: 0;
  padding: 0px 0px;
  /*border-radius: 100px;*/
}

.m-menu li {
  font-size: 2rem;
  color:#fff;
}

.close-menu {
  position: fixed;
  right: 2rem;
  top:5rem;
  font-size: 5rem;
  font-weight: 900;
}

.close-menu:hover {
  cursor: pointer;
}
