* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :activa {
  outline: none; }

a:focus, a:activate {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

li {
  list-style-type: none; }

.header-burger {
  display: none; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px; }

html, body {
  height: 100%;
  font-family: Arial, "Helvetica Neue" , Helvetica, sans-serif; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }
  .header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; }
  .header .header-logo {
    flex: 0 0 52px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3; }
    .header .header-logo img {
      max-width: 100%;
      max-height: 100%;
      display: block; }
  @media (max-width: 767px) {
    .header .header-logo {
      flex: 0 0 40px; } }
  .header-list {
    display: flex;
    position: relative;
    z-index: 5;
    justify-content: space-between;
    align-items: center; }
    .header-list a {
      color: #fff; }
    .header-list li {
      margin: 0px 0px 0px 30px; }
  .header-link {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5e5373;
  z-index: 2; }

.content {
  padding: 100px 0px 0px 0px; }
  .content-text {
    font-size: 18px;
    line-height: 25px; }
    .content-text p {
      margin: 0px 0px 20px 0px; }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; }
  .header-body {
    height: 50px; }
  .header-burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3; }
  .header-burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s; }
  .header-burger:before,
  .header-burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s; }
  .header-burger:before {
    top: 0; }
  .header-burger:after {
    bottom: 0; }
  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
    overflow: auto; }
  .header-menu.active {
    top: 0; }
  .header-list {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .header-list li {
      margin: 0px 0px 30px 0px; }
  .header-burger.active:before {
    transform: rotate(45deg);
    top: 9px; }
  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px; }
  .header-burger.active span {
    transform: scale(0); }
  .content {
    padding: 60px 0px 0px 0px; }
  .header-menu.active {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start; }
  .header-link {
    font-size: 22px; } }
