/*</Default settings>=======================================================*/
.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .header-button {
    padding: 10px 5px 10px 5px;
  }

  .plan-body {
    background-size: 60%;
    background-position: 100% 5%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }

  .header-get-start {
    width: 40%;
    margin: 0px 0px 0px 10%;
  }

  .menu-list {
    width: 55%;
  }

  .header-button {
    padding: 10px 5px 10px 5px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
/*</Default settings>=======================================================*/