@media (max-width: 767px) {
  .logo {
    display: none;
  }
  .backpacks-call-to-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .backpacks-column {
    text-align: center;
  }
  .main-form-input {
    text-align: center;
  }
  .vertical-line {
    display: none;
  }
  .main-form-input {
    width: 100%;
  }
  .contacts-title {
    text-align: center;
  }
  .hover {
    display: none;
  }
  .contacts {
    text-align: center;
  }
  .contacts-text {
    width: 100%;
  }
}
