<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>


    <div class="wrapper" id="app">
      <section class="todo">
        <div class="todo__inner">
          <div class="todo__top">
            <h1 class="title">
              To do List
            </h1>
          </div>
          <div class="todo__bottom">
            <div class="todo__bottom-content">
              <label class="form-control">
                <input class="todo__input"
                 type="text" 
                 v-bind:placeholder="inputPlaceholderString"
                 v-on:input="inputChangeHandler()"
                 v-bind:value= "inputValue"
                 v-on:keypress="inputKeyPress(event)"
                 >
                <button class="form-control__btn" v-on:click="addNewNote">Add a note</button>
              </label>
              <ul class="todo__list" v-if="notes.length !== 0">
                <li class="todo__list-item" v-for="(myNote, index) of notes">
                  <p class="todo__list-text">
                    {{ notes[index] }}
                  </p>
                  <button class="todo__list-btn" v-on:click="deleteNote(index)">
                    Delete
                  </button>
                </li>
              </ul>
              <div class="empty" v-if="notes.length == 0">
                <h3>Зря ты удалил все записи</h3>
                <div class="empty__img-body">
                  <img class="empty__img" src="img/4.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- <div class="container pt-5" id="app">
      <div class="card ">
        <h1>{{ title }}</h1>
        <h2>inputValue: {{ inputValue }}</h2>
        <div class="form-control">
          <input type="text"
           v-bind:placeholder="placeholderString" 
           v-bind:value= "inputValue" 
           v-on:input= "inputChangeHandler"
           v-on:keypress.enter="addNewNote"
           />
        </div>
        <button class="btn" v-on:click="addNewNote">Добавить</button>
        <hr />
        <ul class="list" v-if="notes.length !== 0">
          <li class="list-item" v-for="(myNote, index) of notes">
            ({{ index + 1}}){{ toUpperCase(myNote) }}
            <button class="btn danger" v-on:click="deleteNote(index)">Delete</button>
          </li>
          <li class="list-item"></li>
        </ul>
        <div v-if="notes == 0">
            Заметок пока нет, добавьте первую
        </div>
      </div>
    </div> -->

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>  
  </body>
</html>
