@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.wrapper{
    

}

.header {

    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    &__buttons{
        margin-left: auto;
        font-weight: 500;
        display: flex;
    }
    
    
    &__btn:last-child{
        margin-left: 20px;
    }
}
.menu {

    &__list{
        display: flex;
        margin-left: 40px;
    }
    &__list-item{
        margin-right: 22px;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &__list-link{
        color: #B5B5B5;
    }
}
.main {
    // pointer-events: none;

}
.main-screen{
    pointer-events: none;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6;
        background-image: url(../images/main/man.svg);
        background-repeat: no-repeat;
        background-position: right 15% bottom 100%;
        background-size: contain;
    }

    padding-top: 100px;

    &__content{
        max-width: 531px;
    }
    &__title{
        @extend %title-font;
        font-size: 44px;
        line-height: 50px;
    }
    &__text{
        color: $default-text;
        padding: 20px 0 40px;
        font-size: 18px;
        line-height: 22px;
    }
    &__buttons{
        display: flex;
    }
    &__btn {
        padding: 13px 31px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
    &__btn--transparent{
        padding: 13px 59px;
    }
    &__preview{
        display: flex;
    }
    &__preview-popupbtn{
        width: 140px;
        height: 80px;
        border-radius: 4px;
        background-blend-mode: multiply;
        background-color: rgba(#361C5D, .9);
        position: relative;
    }
    &__preview-img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    &__preview-content{
        width: 380px;
        margin-left: 20px;
    }
    &__preview-text{
        color: $default-text;
        font-size: 16px;
        line-height: 22px;
    }
    &__preview-action{
        padding-top: 6px;
        color: #6D6D78;
        font-size: 14px;
        line-height: 22px;
    }
}

.partners{
    position: relative;
    
    &__items{
        display: grid;
        grid-template-columns: repeat(6 , 1fr);
        justify-content: center;
        align-items: center;
    }
    &__item{
        display: flex;
        justify-content: center;
    }
    &__item-logo{
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
    padding-top: 100px;
    padding-bottom: 100px;

}
.partners-choice-wrapper{
    pointer-events: none;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .15;
        background-image: url(../images/choice/stars.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right bottom 0%;
    }
   

}

.choice{

    &__title{
        @extend %title-font;
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 13px;
        text-align: center;
    }
    &__subtitle{
        font-size: 16px;
        line-height: 22px;
        color: $default-text;
        text-align: center;
        margin-bottom: 50px;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        // grid-template: 1fr 1fr / repeat(3, )
        justify-content: space-between;
    }
    &__item{
        position: relative;
        margin-bottom: 40px;
        padding-left: 50px;
        
        
    }
    &__item--flip{
        background-image: url(../images/choice/Flip-horizontal.svg);
        background-repeat: no-repeat;
    }
    &__item--airpods{
        background-image: url(../images/choice/Airpods.svg);
        background-repeat: no-repeat;
    }
    &__item--network{
        background-image: url(../images/choice/LTE.svg);
        background-repeat: no-repeat;
    }
    &__item--thunder{
        background-image: url(../images/choice/Thunder-move.svg);
        background-repeat: no-repeat;
    }
    &__item--pils{
        background-image: url(../images/choice/pils.svg);
        background-repeat: no-repeat;
    }
    &__item--bulb{
        background-image: url(../images/choice/Bulb.svg);
        background-repeat: no-repeat;
    }

    &__item-title{
        color: #99EFD0;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
        font-weight: bold;
        font-family: 'Space Grotesk', sans-serif;
    }
    &__item-text{
        font-size: 14px;
        line-height: 22px;
        color: $default-text;
        font-family: Gilroy-SemiBold, sans-serif;
    }
}

.footer {

    &--margin{
        padding-top: 140px;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__top-title{
        color: #F2994A;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
    }
    &__social{
        display: flex;
    }
    &__social-link{
        margin-left: 16px;
    }
    &__content{
        margin-top: 86px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{

    }
    &__list{

    }
    &__list-title{
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 9px;
    }
    &__list-link{
        display: block;
        color: #fff;
        font-size: 15px;
        line-height: 20px;
        margin-top: 16px;
    }
    &__copy{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 120px;
        padding-bottom: 100px;
        p{
            color: #8D8D8D;
            font-size: 14px;
            line-height: 20px;
            margin: 0 32px;
        }
        
    }
}

.increase{
    background-image: url(../images/increase/decor.svg);
    background-repeat: no-repeat;
    background-position: bottom left 1%;

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    &__content{
        width: 470px;
        height: 280px;
        margin: 0px auto;
    }
    &__title{
        @extend %title-font;
        font-size: 42px;
        line-height: 50px;
        span{
            color: #F2994A;
        }
    }
    &__text{
        padding: 32px 0 42px;
        color: $default-text;
        font-size: 15px;
        line-height: 28px;
        font-family: Gilroy-SemiBold, sans-serif;
    }
    &__btn{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        padding: 14px 31px;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    }
    &__overview{
        width: 440px;
        pointer-events: none;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 142px;
            height: 150px;
            bottom: 50px;
            right: -38px;
            background-image: url(../images/increase/increase-decor.svg);
            background-repeat: no-repeat;
           z-index: 2;
        }
    }
    &__overview-img{
        position: relative;
        object-fit: cover;
        width: 100%;
        z-index: 3;

    }

}

.achieve {
    &__title{
        font-family: Inter;
        text-align: center;
        width: 700px;
        margin: 0 auto; 
        @extend %title-font;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.33px;
        span{
            color: #F2994A;
        }
    }
    &__sup-title{
        width: 414px;
        margin: 0 auto;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        padding: 32px 0 48px;
        color: $default-text;
        text-align: center;
        font-family: Gilroy-SemiBold, sans-serif;
    }
    &__items{
        display: flex;
        justify-content: space-around;
    }
    &__item{
        width: 292px;
    }
    &__score{
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #99EFD0;
        padding-bottom: 16px;
    }
    &__text{
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-family: Gilroy-SemiBold, sans-serif;
        color: $default-text;
        text-align: center;
    }
}

.create{
    background-image: url(../images/create-bfg.svg);
    background-repeat: no-repeat;
    background-position: bottom -4% center;

    &__inner{
        padding-top: 180px;
        padding-bottom: 356px;
        margin-bottom: 90px;
    }
    &__title{
        width: 770px;
        margin: 0 auto;
        text-align: center;
        @extend %title-font;
        padding-bottom: 46px;
        span{
            color:#F2994A;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
    }
    &__btn{
        padding: 17px 31px; 
        text-transform: uppercase;
        font-weight: bold;  
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
        
    }
}

.invest{

    background-image: url(../images/tarif-main-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    &__inner{
        display: grid;
        grid-template-columns: minmax(auto,470px) minmax(auto, 1fr);
        margin-bottom: 160px;
        align-items: center;
    }
    &__title{
        @extend %title-font;

        span{
            color: #F2994A;

        }
    }
    &__text{
        font-family: Gilroy-SemiBold, sans-serif;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: $default-text;
        padding: 32px 0 46px;
    }
    &__btn{
        padding: 17px 31px;
        text-transform: uppercase;
        font-weight: bold;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    }
    
}
.tarif{

    
    &__inner{
        display: flex;
        justify-content: flex-end;
        // margin: 0 auto 0 190px ;
    }
    &__body{
        position: relative;
        width: 260px;
        // height: 414px;
        background-color: #fff;
        border-radius: 10px;
        // box-shadow:30px 3px 30px rgb(0 0 0 / 50%);
        // box-shadow:12px 12px 2px 1px rgba(0, 0, 0, 0.5);
        z-index: 5;
        &::after{
            content: '';
            position: absolute;
            width: 130px;
            height: 65px;
            background-image: url(../images/Group.svg);
            top: 60%;
            transform: translateY(-50%);
            transform: translateX(50%);
            right: -19%;
            z-index: auto;
        }

    }
    &__body-top{
        position: relative;
        width: 100%;
        height: 200px;
        border-radius: 9px 10px 0px 0px;
        background-image: url(../images/tarif-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &::after{
            content: '';
            background-image: url(../images/arr-up.svg);
            background-repeat: no-repeat;
            background-size: auto auto;
            background-position: center top 1%;
            top: 50%;
            transform: translateY(-50%);
            left: -42%;
            transform: translateX(50%);
            width: 100px;
            height: 80px;
            position: absolute;
        }
    }
    &__body-bottom{
        // height: 52%;
        max-width: 200px;
        margin: 0 auto;
        padding: 24px 0 26px 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
    }
    &__body-title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #212B36;
    }
    &__body-adress{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.5px;
        color: #637381;
        padding: 2px 0 22px;
    }
    &__body-price{
        font-family: Montserrat,sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #13C296;
        padding: 0 0 8px;
    }
    &__body-desc{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #98A4AF;
        padding: 0 0 20px;
        margin: 0 0 15px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background: #D6DBDF;
            height: 2px;
            width: 200px;
            bottom: 0;
            left: 0;
            right: 0;

        }
    }
    &__info{
        display: flex;
        justify-content: space-between;
    }
    &__info-item{
        display: flex;
        flex-direction: column;
        width: 33.3%;
    }
    &__info-title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #212B36;
    }
    &__info-date{
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.5px;
        color: #637381;
    }
    
}


.feature{

    &__inner{
        display: grid;
        grid-template-columns: minmax(auto, 500px) minmax(auto, 520px) ;
        justify-content: center;
        margin-bottom: 170px;
    }
    &__image{
       
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title{
        font-family: Inter ,sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.325px;
        color: #99EFD0;
    }
    &__text{
        font-family: Gilroy-SemiBold,sans-serif;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #8476AA;
    }
    &__text--top{
        padding: 32px 0 48px;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 224px));
        gap: 10px;
        justify-content: space-between;
    }
    &__item-title{
        padding: 16px 0 10px;
        font-family: Inter,sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #99EFD0;
    }
    &__item-text{
        font-family: Gilroy-SemiBold,sans-serif;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #8476AA;
    }
    

}

.reason{
    padding: 50px 0 80px;

    &__inner{
        background: rgba(60, 62, 125, 0.19);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 50px 0 52px;
        align-items: center;
    }
    &__title{
        font-family: Rubik,sans-serif;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #F2994A;
        padding-bottom: 20px;
    }
    &__text{
        width: 400px;
        font-family: Rubik,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #95A1BB;
        padding-bottom: 23px;
    }
    &__form{
        width: 416px;
        display: flex;
        margin-bottom: 16px;
        position: relative;
    }
    &__form-input{
        width: 288px;
        padding: 18px 16px;
        background-color: rgba(#F6F6F6, 0.1);
        border: none;
        border-radius: 5px 0 0 5px;
        color: #fff;
        &::placeholder{
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
        }
    }
    &__form-btn{
        position: absolute;
        top: 0;
        right: 0;
        width: 128px;
        padding: 17px 0;
        border-radius: 0 5px 5px 0;
    }
    &__text-bottom{
        font-family: Gilroy-SemiBold,sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #8476AA;
    }
}
.header__sidebar{
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
    z-index: 3;
    padding: 0;
    margin: 0;
    
}
.header__sidebar.active{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    top: 0;
    right: 0;
    z-index: 8;
    transition: all 0.3s ease 0s;
}
.logo{
    z-index: 10;
}

@import 'media';  