/*<Сброс заводских стилей>=======================================================*/
* {padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:activa{outline: none;}
a:focus,a:activate{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {vertical-align: top;list-style: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
img {
	max-width: 100%;
	max-height: 100%;
}
/*</Сброс заводских стилей>=======================================================*/

/*<Fonts>======================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*</Fonts>======================================================================*/




/*<Header settings>=======================================================*/
.header-row {
 display: flex;
}


.header-body {
 display: flex;
 width: 100%;
 height: 80px;

}

.header-get-start {
	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
	width: 30%;
	margin: 0px 0px 0px 30%;
}
.header-socseti {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	position: relative;
	top: 0;
	left: 0;
}
.header-button {
	padding: 13px 16px 13px 15px;
	background-color: #d2e1ff;

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #3A79FF;
  font-family: 'Quicksand', sans-serif;
}


.header-content {
	display: flex;
	
	width: 100%;
	height: 92.3%;
	background-image: url(../Image/Header/clouds.png);
	background-size: conctain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #F4F7FF;
	border-top: #E1E8FF 1px solid;
	border-bottom: #E1E8FF 1px solid;
	/*background-attachment: fixed;*/
	z-index: 4;
	align-items: center;
	justify-content: center;
}
.header-content-overlay {
	width: 100%;
	height: 92.3%;
	position: absolute;
	background-image: url(../Image/Header/headerBG.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 3;
}



.header-content-body {
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.header-suptitle {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
/* identical to box height */
letter-spacing: 0.1em;
text-transform: uppercase;
color: #3D4F9F;
}
.header-title {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: 300;
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
/* identical to box height */

text-align: center;

color: #3D4F9F;
}
.header-title strong {
	font-weight: 700;
}
.header-sub-text {
font-family: Roboto , sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 29px;
text-align: center;
letter-spacing: 0.03em;

color: #8D96BD;

}
.header-button-act img{
	/*width: 120px;
	height: 120px;*/
	display: inline-block;
	cursor: pointer;
	position: relative;
	bottom: 25px;
}
.header-button-act a {
 display: inline-block;
}
/*</Header settings>=======================================================*/

/*<Menu>=======================================================*/
.menu-link {
font-family: Quicksand;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */
color: #697CA6;
text-shadow: 0px 0px 5px #E6E6E6;
font-family: 'Quicksand', sans-serif;
}
.menu-list li:nth-child(2) {

font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */
color: #5E81FE;
text-shadow: 0px 0px 5px #E6E6E6;
margin: 0px 0px 0px 14px;
}

.menu-list {
	display: flex;
    align-items: center;
    justify-content: space-between;
	width: 40%;
	height:100%;
}
.menu-acc {
	display: inline-block;
    
	border-radius: 50%;
	width: 26px;
	height: 26px;
	background-color: #5E81FE;
    position: relative;
    top: 0;
    /*right: 10px;*/
}

/*</Menu>===========================================================================*/

/*<Menu>===========================================================================*/
.logo-section-row {
	display: flex;
	height: 145px;
	margin: 0px auto;
	align-items: center;
	justify-content: space-around;
}
.logo-section-column {
	display: inline-flex;
}
/*</Menu>===========================================================================*/






/*<Default settings>=======================================================*/
.wrapper {
 width: 100%;
 height: 100%;
}
.header {
	width: 100%;
	height: 100%;
}
.container {
	
	
}


.container {
	width: 1140px;
	margin: 0 auto;
}
@media (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.header-button {
		padding: 10px 5px 10px 5px;
	}
} 
@media (max-width: 992px) {
	.container {
		width: 720px;
	}
	.header-get-start {
		width: 40%;
		margin: 0px 0px 0px 10%;
	}
	.menu-list {
		width: 55%;
	}
	.header-button {
		padding: 10px 5px 10px 5px;
	}
}
@media (max-width: 768px) {
	.container {
		width: 540px;
	}
}
@media (max-width: 576px) {
	.container {
		width: 100%;
	}
}

/*</Default settings>=======================================================*/
