@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Colors */
/* Basic setting */
html {
  font-size: 12px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
.rw-align {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button {
  padding: 0.8rem 2.6rem;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #0083c1;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
}
.button:focus {
  background: red;
  border: 0 solid black;
}
/* Typography */
section {
  padding: 10rem 0;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo h3 {
  text-transform: uppercase;
}
.logo img {
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}
.main {
  padding: 2.5rem;
}
.main-content {
  margin-top: 8.3rem;
}
.main-content h1 {
  margin-bottom: 3.3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.3rem;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 2rem;
  margin-bottom: 3.3rem;
}
.header {
  height: 5.8rem;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: #1a1820;
}
.phone-link:focus {
  text-decoration: none;
}
.phone-link:hover {
  text-decoration: none;
}
.main-title span {
  font-size: 1.5rem;
  display: inline-block;
  padding: 1.3rem 3rem;
  background-color: #0083c1;
  color: #ffffff;
  text-align: center;
}
.main-title span strong {
  font-size: 2.5rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
